**/node_modules
**/data.json
**/.DS_Store
**/.venv
**/__pycache__
**/.vscode
**/instance
**/database.db

_Dave/
Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/.terraform.tfstate.lock.info
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/*.tfstate*
*.tfstate*

*.Notes
*.notes
Notes