ecr_repository: 123456789012.dkr.ecr.us-east-1.amazonaws.com

web:
  name: sedaro-web
  tag: latest
  pullPolicy: IfNotPresent
  port: 3030
  nodePort: 30080
  replicas: 1
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "250m"
      memory: "1Gi"
  livenessProbe:
    httpGet:
      path: /
      port: 3030
    initialDelaySeconds: 10
    periodSeconds: 15
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /
      port: 3030
    initialDelaySeconds: 5
    periodSeconds: 10
    failureThreshold: 3

app:
  name: sedaro-app
  tag: latest
  pullPolicy: IfNotPresent
  port: 8000
  replicas: 1
  enableDataVolume: true
  resources:
    requests:
      cpu: "250m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  livenessProbe:
    httpGet:
      path: /
      port: 8000
    initialDelaySeconds: 10
    periodSeconds: 15
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /
      port: 8000
    initialDelaySeconds: 5
    periodSeconds: 10
    failureThreshold: 3


grafana:



prometheus:
  server:
    service:
      type: ClusterIP

grafana:
  adminPassword: admin
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/grafana"
      serve_from_sub_path: true
  service:
    type: NodePort
    nodePort: 30000
  ingress:
    enabled: false  # You can enable and configure ALB later if needed
